#head1{
  color:purple;
  font-family: 'Mukta', sans-serif;
font-family: 'Vina Sans', sans-serif;
}
body{
    background-color:blueviolet;
    border:3px solid plum;
}
#l1{
  color:blue;
  padding-left:700px;
  font-family: 'Mukta', sans-serif;
font-family: 'Vina Sans', sans-serif;
  
}
#head2{
  color:navy;
  font-family: 'Mukta', sans-serif;
font-family: 'Vina Sans', sans-serif;
}
#head3{
  color:powderblue;
  font-family: 'Mukta', sans-serif;
font-family: 'Vina Sans', sans-serif;
}