#head{
    background-color:yellow;
    font-family: 'Mukta', sans-serif;
font-family: 'Vina Sans', sans-serif;

}
body{
    background-color:green;
    border: 3px solid;
    padding:20px;

}
#b1{
   background-color:yellow;
    width:150px;
    height:50px;
    font-family: 'Mukta', sans-serif;
font-family: 'Vina Sans', sans-serif;
    
}